@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
:root {
  --primary: #136f63;
  --light: #00bd9d;
  --grey: #032b43;
}

/*body {
    overflow: hidden;
    font-family: "Reem Kufi", sans-serif;
    font-weight: 300;
    color: var(--primary);
}*/

/*---------------------------------------// SEDES SCREEN //------------------------------------*/

main {
  display: grid;
  width: auto;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "header header header" "section-sedes section-sedes section-sedes" "footer footer footer";
  column-gap: 2%;
  row-gap: 4%;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/97077/pexels-photo-97077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

header {
  grid-area: header;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 23px;
  color: rgb(170, 199, 218);
}

h1 {
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  color: #fff;
}

section-sedes {
  grid-area: section-sedes;

  display: flex;
  width: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2%;
  row-gap: 2%;
}

sede1 {
  background-color: transparent;
  text-align: center;
  margin-left: 4%;
  border-radius: 3%;
  font-size: 400%;
}

sede1:hover {
  transform: scale(1.1);
}

sede2 {
  background-color: transparent;
  text-align: center;
  border-radius: 3%;
}

sede2:hover {
  transform: scale(1.1);
}

sede3 {
  background-color: transparent;
  text-align: center;
  margin-right: 4%;
  border-radius: 3%;
}

sede3:hover {
  transform: scale(1.1);
}

footer {
  grid-area: footer;
  text-align: center;
  font-family: "Mulish", sans-serif;
  opacity: 1;
  justify-items: center;
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.group2 {
  background-color: white;
  text-align: center;
  font-size: 18px;
  justify-items: center;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .container {
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

img {
  size: 1em;
  border-radius: 2em;
}

.img-fluid {
  margin-bottom: 3%;
  border-radius: 3%;
}

.img-fluid:hover {
  transform: scale(1.05);
}

.img-thumbnail {
  margin-bottom: 3%;
  border-radius: 50%;
}

.img-thumbnail:hover {
  transform: scale(1.05);
}

/*----------------------------------DASHBOARD--------------------------------*/

a {
  text-decoration: none;
}

h1 {
  font-size: 25px;
}

.log {
  size: 15px;
  border-radius: 0.4em;
  height: 80px;
  width: 80px;
  padding-bottom: 2px;
  justify-content: center;
}

/* mejorar flex de dash*/
div #student {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
div.card {
  margin-top: 0.7%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

card-img-top {
  width: 80%;
}

div.card {
  margin-top: 0.7%;
}
.card {
  position: sticky;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: row;
  min-width: auto;
  word-wrap: break-word;
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 0.45rem;
  color: rgb(235, 241, 255);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-primary {
  background-color: var(--primary) !important;
}

#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo {
  padding: 0.875em 1.25rem;
}

#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

.stat {
  border-right: 1 px solid var(--grey);
}

@media (max-width: 768px) {
  #sidebar-container {
    display: none;
  }
  .stat {
    border: 0;
  }
}
